body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fdf6e3;
    color: #333;
    text-align: center;
    padding: 20px;
}

.container{
    max-width: 600px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1{
    color: #d35400;
}

.section{
    margin: 20px 0;
}

button{
    padding: 10px 20px;
    font-size: 16px;
    background-color: #d35400;
    color: white;
    border:none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover{
    background-color: #e67e22;
}

#reaction{
    font-size: 18px;
    font-weight: bold;
    color: #2980b9;
}